* {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  line-height: 1.6;
  background-color: #fafafa;
  box-sizing: border-box;
}

#container {
  margin: 40px auto 0 auto;
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
}

blockquote {
  font-size: 1.8em;
  line-height: 1.5;
  background-color: #3F51B5;
  color: #fff;
  padding: 20px;
}

blockquote p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 1.5em 0 .5em 0;
}

* + p {
  margin-top: .5em;
}

h1 {
  color: #3F51B5;
  font-weight: 300;
  margin-top: 0;
}

hr {
  margin: 2em 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)
  );
}

/* Handheld */
@media only screen and (max-width : 640px) {
  h1 {
    font-size: 28px;
  }

  #container {
    margin-top: 0;
    padding: 20px;
    width: 100%;
  }

  blockquote {
    margin: 0;
    font-size: 1.2em;
  }
}

/* Handheld */
@media only screen and (min-width : 641px) and (max-width : 960px) {
  #container {
    margin-top: 0;
    width: 90%;
  }

  h1 {
    font-size: 2em;
    line-height: 1.5;
  }

  blockquote {
    margin: 0;
    font-size: 1.5em;
  }
}

/* Lap landscape */
@media only screen and (min-device-width: 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  #container {
    margin-top: 0;
    width: calc(100% - 80px);
  }

  blockquote {
    margin: 40px;
  }
}

/* Lap */
@media only screen  and (min-width: 961px) {
  #container {
    width: 920px;
  }

  h1 {
    font-size: 3em;
    line-height: 1.5;
  }

  blockquote {
    margin: 40px;
    font-size: 1.8em;
  }
}

/* Desk */
@media only screen  and (min-width: 1281px) {
  #container {
    width: 1024px;
  }
}

.text-never-allowed {
  color: #D32F2F;
}

.text-sometimes-allowed {
  color: #F57C00;
}

.text-always-allowed {
  color: #4CAF50;
}

.align-center {
  text-align: center;
}
